In [55]:
import pandas as pd

In [56]:
housing = pd.read_csv("data/housing_prices.csv")
display(housing.head())
print(housing.info())

         date  housing_price_index
0  1975-01-01                12.71
1  1976-01-01                16.98
2  1977-01-01                21.38
3  1978-01-01                25.43
4  1979-01-01                30.66

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 50 non-null     object
 1   housing_price_index  50 non-null     float64
dtypes: float64(1), object(1)
memory usage: 932.0+ bytes
None

In [57]:
income = pd.read_csv("data/median_income.csv")
display(income.head())
print(income.info())

   median_income  state  county  year
0          92332      6      83  2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   median_income  1 non-null      int64
 1   state          1 non-null      int64
 2   county         1 non-null      int64
 3   year           1 non-null      int64
dtypes: int64(4)
memory usage: 164.0 bytes
None

In [58]:
population = pd.read_csv("data/population.csv")
display(population.head())
print(population.info())

   population  state  county  year
0      445213      6      83  2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  1 non-null      int64
 1   state       1 non-null      int64
 2   county      1 non-null      int64
 3   year        1 non-null      int64
dtypes: int64(4)
memory usage: 164.0 bytes
None